@import "tailwindcss";

:root {
  --line-height: 20px;
  --text-color: white;
  --background-color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
}

.editor {
  display: flex;
  position: relative;
  font-family: monospace;
  color: var(--text-color);
  line-height: var(--line-height);
  height: 100vh;
  overflow: hidden;
}

.editor:focus-visible {
  outline: none;
}

.line {
  height: var(--line-height);
  white-space: pre;
}

.cursor {
  pointer-events: none;
  background-color: var(--text-color);
}

.gutter {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: #888;
  text-align: right;
  padding-right: 1ch;
  user-select: none;
  border-right: 1px solid #444;
  z-index: 2;
}

.gutter-line {
  line-height: var(--line-height);
  white-space: pre;
  cursor: pointer;
}

.editor-content {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
